// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.page-head {

  text-align: center;

  .page-title {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
  }

  a {
    color: $nezumi;
    text-align: center;
    transition: ease-in-out 0.5s;
  }

  a:hover {
    text-decoration: underline;
  }
}
