<div class="form-card">
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <%= f.association :ingredient, hint: "Don't put too much booze otherwise someone is gonna get fuuucked 🥴" %>
    <%= f.input :description, placeholder: "how much do you want?" %>
    <%= f.submit %>
  <% end %>
</div>


